#myInput {
   background-color: rgb(255, 255, 255);
   border-width: 3px;
   border-color: #5593da;
   border-radius: 8px;
} 

#brand {
    color:    #fff;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    margin-left: 5px;
}

#icon_logo {
  color: #fff;
}
.navbar {
    background-color:   #2c2e30; /*ito gamit mo before 25476d  */
}
.background-feedback {
    background-image: url('/images/bg-feedback.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.divider {
    font-weight: bold;
}

.card {
    border-radius: 15px;
    border-color: #fff;
}


