#searchForm {
    width: 400px;
}

#brand {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Impact';
    font-weight: bolder;
}

#icon_logo {
  color: white;
}
.navbar {
    background-color: #202020;
}
.background {
    background-image: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h4 {
    font-weight: bold;
}
.divider {
    font-weight: bold;
}

.card {
    border-radius: 15px;
    background-color: #fff;
    color: rgb(38, 50, 68);
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    top: 5;
    width: 200px;
    position: fixed;
    z-index:1;
    overflow-x: hidden;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
   
  }
  
  .sidebar{
      background-color: #203647;
  }
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(75, 161, 236);;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }