#searchForm {
    width: 400px;
}

#brand {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Impact';
    font-weight: bolder;
}

#icon_logo {
    color: rgb(255, 255, 255);
}
.navbar {
    background-color: #202020;
}
.background {
    background-image: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h4 {
    font-weight: bold;
}
.divider {
    font-weight: bold;
}

.card {
    border-radius: 15px;
    background-color: #fff;
    color: rgb(38, 50, 68);
}